/* reset css */
* { 
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(216, 216, 216);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: rgb(216, 216, 216);
    cursor: pointer;
}

button{
    cursor: pointer;
}

h1{
    text-align: center;
    padding: 20px;
}

.fixed{
    z-index: 0;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    position: fixed;
    width: 99%;
    top: 85%;
    margin-right: 30px;
}

.fixed a{
    z-index: 999;
}

.fixed img{
    width: 4vw;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 10px 20px #242424;
    border-radius: 50px;
}

.fixed img:hover{
    transform: scale(1.1);
}

@media (max-width: 900px){

    .fixed{
        width: 100%;
        top: 84%;
    }
    .fixed img{
        width: 8vw;
        margin-right: -3px;
    }
}

@media (max-width: 700px){
    .fixed{
        top: 86%;
        z-index: 999;
    }
    .fixed img{
        width: 60px;
        margin-right: 0px;
    }
}

@media (max-width: 450px){
    .fixed img{
        width: 12vw;
    }
}