footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: rgb(216, 216, 216);
    background-color: #242424;
}

.copyright-div a:hover{
    color: #525252;
    cursor: pointer;
}