header{
    background-color: #03355f;
}

.remove-nav-header{
    display: none;
}

.nav-bar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
}

.itens-nav{
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 2;
}

.itens-nav img{
    width: 80px;
    border-radius: 50%;
}

.itens-nav-1{
    transition: transform 0.2s ease-in-out;
}

.itens-nav-1:hover{
    transform: scale(1.2);
}

.itens-nav button{
    color: rgb(216, 216, 216);
    background-color: #242424;
    width: 10vw;
    height: 5.5vh;
    border-radius: 20px;
    font-size: 0.8vw;
    box-shadow: 0px 5px 10px black;
    transition: transform 0.3s ease-in-out;
}

.itens-nav button:hover{
    transform: scale(1.05);
}

.mobile-menu{
    display: none;
}

.mobile-menu div {
    width: 70px;
    height: 8px;
    background-color: rgb(216, 216, 216);
    margin: 10px;
    border-radius: 10px;
}

.mobile-menu-fechar{
    display: none;
}

.mobile-menu-fechar-x div{
    width: 60px;
    height: 5px;
    background-color: rgb(216, 216, 216);
    margin: 8px;
}
.mobile-menu-fechar-x .line1{
    transform: rotate(-45deg) translate(-1px, 7px);
}

.mobile-menu-fechar-x .line2{
    transform: rotate(45deg) translate(-2px, -8px);
}

.rede-social{
    display: flex;
    gap: 20px;
}
.rede-social img{
    width: 3vw;
}

@media (max-width: 1360px){
    .itens-nav img{
        width: 60px;
    }

    .itens-nav button{
        width: 12vw;
        height: 7.5vh;
        font-size: 0.7em;
    }

    .nav a{
        font-size: 0.9em;
    }

    .rede-social img{
        width: 3vw;
    }
}

@media (max-width: 900px){

    .remove-nav-header{
        display: block;
        width: 35%;
        position: fixed;
        height: 100px;
        margin-left: 47%;
        z-index: 0;
    }
    
    .nav-bar{
        justify-content: space-between;
        padding: 20px;
    }
    
    .mobile-menu{
        display: block;
    }

    .mobile-menu-fechar{
        display: block;
    }

    .mobile-menu-fechar-x{
        padding: 0px 0px 50px 0px;
    }

    .nav{
        transform: translateX(-120%);
        transition: transform 0.3s ease-in;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        background-color: rgba(19, 19, 19, 0.99);
        position: fixed;
        top: 0;
        left: 0;
        padding: 40px;
        z-index: 5;
    }

    .active {
        transform: translateX(0);
    }

    .itens-nav{
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
    }

    .itens-nav button{
        background-color: #03355f;
        width: 25vw;
        height: 8vh;
        font-size: 0.7em;
    }

    .rede-social img{
        width: 8vw;
    }
}

@media (max-width: 700px){

    .itens-nav img{
        width: 65px;
    }

    .mobile-menu div {
        width: 65px;
        height: 7.5px;
    }

    .nav a{
        font-size: 0.9em;
    }
    
    .itens-nav button{
        width: 33vw;
        height: 8vh;
    }

    .rede-social img{
        width: 8vw;
    }
}

@media (max-width: 600px){
    .itens-nav img{
        width: 55px;
    }

    .mobile-menu div {
        width: 55px;
        height: 7px;
        margin: 7px;
    }

    .mobile-menu-fechar-x div{
        width: 50px;
        height: 5px;
    }
}

@media (max-width: 500px){

    .itens-nav img{
        width: 45px;
    }

    .mobile-menu div {
        width: 50px;
        height: 6px;
        margin: 6px;
    }

    .nav{
        width: 60%;
    }

    .nav a{
        font-size: 0.8em;
    }

    .itens-nav button{
        width: 45vw;
        height: 7vh;
    }
}